.background {
    height: 100%;
    width: 100%;
    position: fixed;
    background: url(../../../public/home/Home.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.content {
    position: absolute;
    margin-left: 50px;
    top: 70%;
}
.whiteText {
    color: white;
    font-family: BebasNeueBold;
    font-size: 30pt;
}
.blueText {
    font-size: 25pt;
    color: aqua;
    font-family: BebasNeueBold;
}
@media screen and (min-width: 960px) {
    .blueText {
        font-size: 35pt;
    }
    .whiteText {
        font-size: 50pt;
    }
}
