.background {
    background: url(../../../public/home/Home.png) no-repeat;
    background-size: 100%;
    height: 730px;
}
.content {
    position: absolute;
    margin-left: 50px;
    margin-top: 40%;
}
.whiteText {
    color: white;
    font-family: BebasNeue Regular;
    
}
.blueText {
    color: aqua;
}