
  header {
    height: 75px;
    background-color: white;
  }
  .textCenter {
    text-align: center;
  }
.Brand {
  height: 50px;
  width: 100px;
}
.searchAnimation form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.searchAnimation input {
  width: 0;
  font-size: 15px;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 15px;
  right: 50px;
  z-index: 2;
}
.searchAnimation input:focus {
  width: 150px;
  z-index: 3;
  border-bottom: 2px solid #F9F0DA;
}

.blueColor {
  color: rgb(5, 18, 134);
}
.circleRight {
    margin-top: 15px;
    cursor: pointer;
    position: fixed;
    top: 25px;
    right: 70px;
    z-index: 9999;
    color: rgb(5, 18, 134);
}
.AppHeader {
  background-color: white;
    height: 80px;
    padding: 20px;
    color: white;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    z-index: 1;
}
  .search {
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    right: 40px;
    top: 20px;
    z-index: 9999;
  }
  .burgerMenu,
  .burgerMenuOpen {
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    left: 40px;
    top: 20px;
    z-index: 9999;
  }
  .bar1,.bar2, .bar3 {
    height: 3px;
    background-color: rgb(5, 18, 134);
    margin: 4px 0;
    transition: 0.5s;
  }
  .bar1 {
    width: 10px;
  }
  .bar2 {
    width: 15px;
  }
  .bar3 {
    width: 20px;
  }
  .burgerMenuOpen .bar1 {
    width: 20px;
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
    transform: rotate(-45deg) translate(-4px, 4px);
  }

    .burgerMenuOpen .bar2 {
      opacity: 0;
    }

    .burgerMenuOpen .bar3 {
      -webkit-transform: rotate(45deg) translate(-6px, -6px);
      transform: rotate(45deg) translate(-6px, -6px);
    }


    /* Menu */

    .menu {
      width: 100%;
      display: block;
      text-align: left;
      padding: 0px;
      color: black;
      animation: slide 1s 1;
      overflow: scroll;
    }
    @keyframes slide {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0%);
      }
    }
    
    .menu ul hr {
      margin-left: 0;
    }
    .menu ul {
      margin-top: 100px;
      position: relative;
      font-size: 2.0em;
      font-family: BebasNenuBold;
      padding: 0px;
      color: white;
    }
    .menu li {
      margin-left: 15%;
      list-style: outside none none;
      padding: 0;
      cursor: pointer;
    }
    .menu li:hover {
      color: #008cff;
    }
    @media screen and (max-width: 1025px) {
    .searchAnimation input:focus {
        margin-top: 10px;
        cursor: pointer;
        position: fixed;
        margin-right: 20px;
        right: 75px;
        z-index: 1;
        color: rgb(5, 18, 134);
        font-size: .9em;
        height: 40px;
    }
      .menu ul {
        font-size: 1.2em;
        padding: 0px;
        color: white;
      }
      .bar1 {
        width: 5px;
      }
      .bar2 {
        width: 10px;
      }
      .bar3 {
        width: 15px;
      }
      .burgerMenuOpen .bar1 {
        width: 15px;
        -webkit-transform: rotate(-45deg) translate(-4px, 4px);
        transform: rotate(-45deg) translate(-4px, 4px);
      }
    }
    @media screen and (max-width: 990px) {
      .SearchField {
        margin-top: 15px;
        cursor: pointer;
        position: fixed;
        margin-right: 20px;
        right: 75px;
        z-index: 1;
        color: rgb(5, 18, 134);
        font-size: 1.0em;
        height: 40px;
    }
      .menu ul {
        font-size: 1.2em;
        padding: 0px;
        color: white;
      }
      .bar1 {
        width: 5px;
      }
      .bar2 {
        width: 10px;
      }
      .bar3 {
        width: 15px;
      }
      .burgerMenuOpen .bar1 {
        width: 15px;
        -webkit-transform: rotate(-45deg) translate(-4px, 4px);
        transform: rotate(-45deg) translate(-4px, 4px);
      }
    }
    @media screen and (max-width: 770px) {
      .Brand {
        margin-top: 5px;
        height: 40px;
        width: 75px;
      }
      .SearchField {
        margin-top: 15px;
        cursor: pointer;
        position: fixed;
        margin-right: 20px;
        right: 75px;
        z-index: 1;
        color: rgb(5, 18, 134);
        width: 75px;
        font-size: 0.5em;
        height: 25px;
    }
      .menu ul {
        font-size: 1.1em;
        padding: 0px;
        color: white;
      }
      .bar1 {
        width: 5px;
      }
      .bar2 {
        width: 10px;
      }
      .bar3 {
        width: 15px;
      }
      .burgerMenuOpen .bar1 {
        width: 15px;
        -webkit-transform: rotate(-45deg) translate(-4px, 4px);
        transform: rotate(-45deg) translate(-4px, 4px);
      }
    }
    @media screen and (max-width: 540px) {
      .Brand {
        margin-top: 5px;
        height: 40px;
        width: 75px;
      }
      .SearchField {
        margin-top: 15px;
        cursor: pointer;
        position: fixed;
        margin-right: 20px;
        right: 75px;
        z-index: 1;
        color: rgb(5, 18, 134);
        width: 45px;
        font-size: 0.5em;
        height: 25px;
    }
      .menu ul {
        font-size: 0.9em;
        padding: 0px;
        color: white;
      }
      .burgerMenuOpen .bar1 {
        width: 15px;
        -webkit-transform: rotate(-45deg) translate(-4px, 4px);
        transform: rotate(-45deg) translate(-4px, 4px);
      }
    }
