.front {
  position: absolute;
  font-size: 80px;
  color: #00CDFF;
  top: 0;
}

.cover {
  position: absolute;
  font-size: 180px;
  color: #F4F4F4;
  top: 0;
}

.conteiner {
  position: relative;
}
