.size1 {
  font-size: 5.15vmax;
}

.size2 {
  font-size: 1.35vmax;
}

.size3 {
  font-size: 1.00vmax;
}

.icon {
  margin-bottom: 45px;
  width: 14vw;
  height: 8vw;
}

.font250 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 17.14VW;
  white-space: nowrap;
}

.content {
  padding: 0 70px;
}

.title {
  width: 100%;
  overflow: hidden;
  height: 24vw;
  position: relative;
  color: #F4F4F4;
  font-family: BebasNenuBold;
}

.frontTitle {
  position: absolute;
  top: 5vw;
  color: #00CDFF;
}

.frontCentr {
  position: absolute;
  color: black;
  top: 13.5vw;
  font-family: proxima-nova, sans-serif;
  font-weight: bold;
}

.frontBotton {
  position: absolute;
  color: black;
  top: 18vw;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
}


@media (min-width: 740px) and (max-width: 1199px) {
  .frontTitle {
    top: 3.5vw;
  }
  .title {
    height: 35vw;
  }
  .icon {
    margin-bottom: 45px;
    width: 18vw;
    height: 11vw;
  }
  .size2 {
    font-size: 1.55vmax;
  }

  .size3 {
    font-size: 1.25vmax;
  }

  .frontCentr {
    top: 21vw;
  }

  .frontBotton {
    top: 30vw;
  }
  .font250 {
    font-size: 22.14VW;
    left: -50px;
  }
  .content {
    padding: 0 45px;
  }
}

@media screen and (max-width: 767px) {
  .frontTitle {
    top: 35px;
  }
  .icon {
    margin-bottom: 30px;
    margin-left: 5vw;
    width: 160px;
    height: 100px;
  }
  .title {
    height: 24vmax;
  }
  .size1 {
    font-size: 3.15vmax;
  }
  .size2 {
    font-size: 1.55vmax;
  }

  .size3 {
    font-size: 1.25vmax;
  }
  .frontTitle {
    top: 0px;
  }
  .frontCentr {
    top: 125px;
  }

  .frontBotton {
    top: 185px;
  }
  .font250 {
    font-size: 28.14VW;
    left: -40px;
  }
  .content {
    padding: 0 25px;
  }
}

@media screen and (max-width: 400px) {
  .content {
    padding: 0 10px;
  }
  .title {
    height: 24vmax;
  }
  .icon {
    width: 45vw;
    height: 27vw;
  }
}
