.size1 {
  font-size: 5.65vmax;
}

.size2 {
  font-size: 2.08vmax;
}

.size3 {
  font-size: 1.25vmax;
}

.size4 {
  font-size: 1.25vmax;
}

.size5 {
  font-size: 1.14vmax;
}

.content {
  padding: 0 70px;
}

.contentImg {
  padding: 0 70px;
}

.CustomImg {
  width: 100%;
  height: 100%;
}

.colConteiner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.conteiner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.sconteiner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row  ;
  align-items: flex-start;
  align-content: flex-start;
}

.title {
  position: relative;
  color: #F4F4F4;
  font-family: BebasNenuBold;
}

.frontTitle {
  position: absolute;
  top: 70px;
  color: #00CDFF;
  font-family: BebasNenuBold;
}

.left, .right {
  flex: 1 570px;
  min-width: 0;
}

.leftNotFix, .rightNotFix {
  flex: 0 1 50%;
  min-width: 0;
}

.cleft, .cright {
  flex: 0 1 50%;
  min-width: 0;
  margin-top: 144px;
}

.left {
  text-align: left;
  vertical-align: middle;
}

.cright .proximaNova {
  margin-top: 30px;
}

.flex1col {
  flex: 0 1 100%;
  text-align: left;
}
.font250 {
  font-size: 270px;
}
.flex1col .size3 {
  line-height: 170%;
  font-weight: bold;
}

.space {
  height: 55px;
}

.bebasNenuBold {
  font-family: BebasNenuBold;
}

.proximaNova {
  font-family: 'proxima-nova', sans-serif;
}

.icon {
  height: 70px;
  width: 70px;
  float: right;
  margin-right: 65px;
}

.icon4 {
  height: 50px;
  width: 70px;
  float: right;
  margin-right: 65px;
}

@media (min-width: 740px) and (max-width: 1199px) {
  .conteiner {
    align-items: baseline;
  }
  .icon {
    float: left;
    margin-right: 0;
  }
  .icon4 {
    float: left;
    margin-right: 0;
  }
  .leftNotFix, .rightNotFix {
    flex: 1 50%;
    min-width: 0;
    margin-top: 50px;
  }

  .cleft, .cright {
    flex: 1 100%;
    min-width: 0;
    margin-top: 10px;
  }

  .cleft {
    margin-top: 15px;
  }

  .content {
    padding: 0 45px;
  }
  .contentImg {
    padding: 0;
  }
  .colConteiner {
    align-items: flex-start;
  }
  .frontTitle {
    top: 0px;
    padding: 0 45px;
  }
  .space {
    height: 100px;
  }
  .customWorkTitle {
    display: none;
  }
  .font250 {
    font-size: 22.14VW;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding: 0 25px;
  }
  .conteiner {
    align-items: baseline;
  }
  .cright .proximaNova {
    margin-top: 10px;
  }
  .icon {
    height: 35px;
    width: 35px;
    float: left;
    margin-right: 0;
  }
  .icon4 {
    height: 35px;
    width: 40px;
    float: left;
    margin-right: 0;
  }
  .leftNotFix, .rightNotFix {
    flex: 1 100%;
    min-width: 0;
    margin-top: 10px;
  }
  .cleft {
    flex: 1 0 15%;
    margin: 15px 0;
  }
  .cright {
    flex: 1 0 75%;
    margin: 15px 0;
  }
  .contentImg {
    padding: 0;
  }
  .colConteiner {
    align-items: flex-start;
  }
  .customWorkTitle {
    font-size: 45px;
    display: none;
  }
  .space {
    height: 55px;
  }
  .customWorkSubTitle {
    text-align: left;
    flex: 0 1 100%;
  }
  .flexSpace50 {
    display: none;
  }
  .frontTitle {
    display: block;
    top: 0;
    font-size: 4vmax;
  }
  .font250 {
    font-size: 22.14VW;
  }
}
